body{
  direction: rtl;
}
header{
  width: 100%;
  height: 10%;
  margin: 10px;
  padding: 10px;
  background-color: #32DBE7;
  color: 20px;
  justify-content: center;
  display: flex;
}
h1{
  justify-content: center;
  text-align: center;
}
.hom{
  width: 95%;
  padding: 20px;
  margin: 0 10px auto;
  display: flex;
  flex-direction: row;
  background-color: #40D4EA;
  justify-content: center;
  border-radius: 20px;
  overflow-y: scroll;
}
.ho1{
  width: 250px;
  margin: 0 10px auto;
  box-shadow: 0 0 20px 2 rgba(0,0,0 .1);
  border-radius: 5px;
}
.ho1 a{
  justify-content: center;
  width: 200px;
  
}
.ho1 img{
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  transition: 0.5s;
}
.ho1 img:hover{
  transform: scale(1.2);
  z-index: 2;
}
footer{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color : #32DBE7;
  color: #262828;
  justify-items: center;
  border-radius: 10px ;
  text-align: center ;
}
.h2{
  border-50%;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  justify-items: center;
  background-color :#71E7FF;
  background-size: contain;
background-position: center center;
background-repeat: no-repeat;
text-align: center;

}
.h2 a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transition: 1.5s;
  overflow-y: scroll;
}
.h2:hover{
  background: #FC8A8A url() 0 0 no-repeat;
  z-index: 2;
}
.imgo{
  direction: ltr;
  width: 80px;
//justify-content: center;
//  padding: auto;
 // margin: 0 7px auto;
 //border: 3px solid #0D0E21;
  border-radius: 40px;
}
